
.tema{
	border: 1px solid white;
	width: 100%;
	border-radius: 10px;
	color: grey;
	background: white;
	padding: 10px;
	font-size: 12px;
}

.background{
	background: #F5F5FB 0% 0% no-repeat padding-box;
}

.Basliktema{
	color: black;
	background: grey;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 9%;
	width: 100%;	
}

.card{
	border: none;
	background: none;
}

progress{
	width: 130%;
}

.card3{
	margin-left: 40px;
	margin-right: 40px;
}
